@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-primary: #090910;
  --bg-secondary: #111118;
  --bg-card: #16161F;
  --border: #252535;
  --accent-primary: #7C6FFF;
  --accent-secondary: #00E5CC;
  --accent-danger: #FF4455;
  --accent-success: #22D3A0;
  --text-primary: #F0F0FF;
  --text-secondary: #8888AA;
  --text-muted: #44445A;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--bg-primary);
  color: var(--text-primary);
  font-family: 'DM Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
}

#root {
  width: 100%;
  min-height: 100vh;
  display: flex;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: var(--bg-secondary);
}
::-webkit-scrollbar-thumb {
  background: var(--border);
  border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--text-muted);
}
